@(teams: Seq[Team], id: String, w:Int, otw:Int, sow:Int, l:Int, otl:Int, sol:Int)

<div>
   <script type="text/javascript">
   $(document).ready(function() {
      $("#@id").tablesorter({sortList: [[9,1],[3,1]]});

      var table = $("#@id");
      table.bind("sortEnd",function() {
         var i = 1;
         table.find("tr:gt(0)").each(function(){
            $(this).find("td:eq(0)").html(i);
            i++;
         });
      }); 
   });
   </script>

   <table id="@id" class="data standings zebra-striped bordered-table">
   <thead>
   <tr>
      <th class="header">&nbsp;</th>
      <th class="header">Team</th>
      <th class="header">GP</th>
      <th class="header">W</th>
      <th class="header">L</th>
      <th class="header">OTW</th>
      <th class="header">OTL</th>
      <th class="header">SOW</th>
      <th class="header">SOL</th>
      <th class="header">Pts</th>
   </tr>
   </thead>
   <tbody>
   @teams.map { team =>
      <tr>
         <td></td>
         <td class="left">@team.name</td>
         <td>@team.games</td>
         <td>@team.w</td>
         <td>@team.l</td>
         <td>@team.otw</td>
         <td>@team.otl</td>
         <td>@team.sow</td>
         <td>@team.sol</td>
         <td>@team.points(w, l, otw, otl, sow, sol)</td>
      </tr>
   }
   </tbody>
   </table>
</div>