@template() {
<div class="page-header">
   <h1>Hockey <small>Follow a bit of history</small></h1>
</div>
<div class="row home">
   <div class="span7">
      <h2>Sidney Crosby Art Ross Watch</h2>

      <p>Even after missing the remainder of last season and the first 20 games of this season, can Sidney Crosby capture the Art Ross Trophy again?</p>

      <p>Follow <b>&laquo; Sid the Kid &raquo;</b> for the rest of this history making season!</p>

      <p><a class="btn primary" href="@routes.CrosbyWatch.index">Crosby Watch &raquo;</a></p>

   </div>
   <div class="span7">
      <h2>My NHL</h2>

      <p>Have you ever wanted to change wins to be worth 3 points?<br/>Make over-time or shoot out losses worth 0 points?</p>

      <p>We give you the control to see who would make the playoffs and who would hit the golf course early!</p>

      <p><a class="btn primary" href="@routes.MyNhl.index">My NHL &raquo;</a></p>
   </div>
</div>
}